header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
header .me{
    display: flex;
    align-items: center;
}
header .me .square{
    display: block;
    width: 17px;
    height: 17px;
    background-color: #0050FF;
    margin: 0 5px;
}
header .me strong{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 5px;
}
header .me span{
    font-size: 1.2rem;
    margin: 0 10px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    font-size: 0.9rem;
    padding: 10px;
    margin: 5px;
}
header nav ul li:hover{
    cursor: pointer;
    color: #0050FF;
}



main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #E6DACE 40%, white 40%);
    width: 98vw;
    height: 100vh;
}
main .centralCard{
    width: 900px;
    height: 550px;
    background-color: lightcoral;
}
main .leftCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lightseagreen;
    width: 40%;
    height: 100%;
}
main .leftCard img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 40px;
}
main .leftCard strong{
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    padding-bottom: 25px;
    border-bottom: 2px solid #0050FF;
}
main .leftCard span{
    font-size: 1.1rem;
    letter-spacing: 5px;
    padding: 25px;
}
main .leftCard div{
    display: flex;
}



footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.copy p{
    width: 170px;
    font-size: 0.9rem;
    line-height: 30px;
}

.social{
    display: flex;
}
.social .phone, .email, h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    line-height: 20px;
}

.network ul li a{
    color: #0050FF;
}
.social a{
    text-decoration: none;
}
.social a:hover{
    color: #0050FF;
}

.social .network{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social .network ul{
    display: flex;
}
.network ul li{
    width: 16px;
    height: 16px;
    margin: 3px 8px;
}

svg{
    stroke: #0050FF;
}