.projectsContainer {
    display: flex;
    justify-content: center;
    background-color: #E6DACE;
    padding: 200px 0 0px 0;
}

.projectsContainer .centralColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.centralColumn .desc {
    text-align: center;
    width: 700px;
    margin-top: 30px;
    font-size: 1.03rem;
}

.cardProject {
    display: flex;
    background-color: white;
    margin: 50px 0;
    width: 850px;
    height: 413px;
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.219);

}

.cardProject .infoProject {
    padding-top: 50px;
}

.cardProject .infoProject .titleProject {
    border-left: 10px solid #0050FF;
    padding-left: 30px;
}

.cardProject .infoProject .titleProject a {
    text-decoration: none;
}

.cardProject .infoProject .titleProject h1 {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #0050FF;
}

.cardProject .infoProject .titleProject h1:hover {
    text-decoration: underline;
}

.cardProject .infoProject .titleProject h3 {
    font-family: 'Poppins', sans-serif;
}

.cardProject .infoProject p {
    padding: 40px;
    width: 468px;
    height: 300px;
}

.cardProject .imageProject-01 {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/portfolio.png) no-repeat;
    background-position: -55px;
    /* background-position: -175px; */
    background-size: cover;
}

.cardProject .imageProject-02 {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/github.png) no-repeat;
    background-position: -175px;
    background-size: cover;
}

.cardProject .imageProject-03 {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/fylo.png) no-repeat;
    background-position: -175px;
    background-size: cover;
}



.cis-dark_blue {
    text-decoration: underline 2px solid #0050FF;
}