header{
    overflow: hidden;
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 1;
    background-color: white;
}
header .me{
    display: flex;
    align-items: center;
}
header .me .square{
    display: block;
    width: 17px;
    height: 17px;
    background-color: #0050FF;
    margin: 0 5px;
}
header .me strong{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 5px;
}
header .me span{
    font-size: 1.2rem;
    margin: 0 10px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li:hover, header nav ul li a:hover{
    cursor: pointer;
    color: #0050FF;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 5px;
    font-size: 0.9rem;
}

/* -------------------------------- *//* -------------------------------- */
main{
    height: 100vh;
    padding: 150px 0 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #E6DACE 40%, white 40%);
    width: 98vw;
    height: 140vh;
}
main .centralCard{
    display: flex;
    width: 900px;
    height: 600px;
    background-color: white;

    /* background: rgba(83, 34, 34, 0.1); rgba(255, 255, 255, 0.1); */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}
main .leftCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #F4ECE6;
    width: 40%;
    height: 100%;
    box-shadow: -10px 12px 20px rgba(0, 0, 0, 0.219);
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}
main .leftCard .leftInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .leftCard .leftInfoContainer img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 40px;
}
main .leftCard .leftInfoContainer strong{
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    padding-bottom: 25px;
    border-bottom: 2px solid #0050FF;
}
main .leftCard .leftInfoContainer span{
    font-size: 1.1rem;
    letter-spacing: 5px;
    padding: 35px;
}
main .leftCard .leftIconContainer{
    background-color: white;
    padding: 20px;
}

main .rightCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58%;
    padding: 35px;
}

main .topInfoContainer h2{
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
}
main .topInfoContainer h3{
    font-size: 1.5rem;
    margin: -10px 0 40px 0;
}
main .buttonsContainer a{
    align-items: center;
    background-color: #0050FF;
    color: white;
    font-weight: bolder;
    padding: 8px 25px;
    border-radius: 100px;
    text-decoration: none;
    margin-right: 10px;
}
main .buttonsContainer a:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 6px 23px;
}

main .botInfoContainer p{
    font-size: 1rem;
    line-height: 25px;
    margin: 0px 0 -6px 0;
}

/* -------------------------------- *//* -------------------------------- */
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.copy p{
    width: 170px;
    font-size: 0.9rem;
    line-height: 30px;
}

.social{
    display: flex;
}
.social div{
    margin: 0 20px;
}
.social .phone, .email, h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    line-height: 20px;
}

.social .email a{
    text-decoration: none;
    color: black;
}
.social .email a:hover{
    color: #0050FF;
    text-decoration: underline;
    text-shadow: 2px 2px 20px #0050FF;
}